@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*GLOBAL STYLE*/
section {
  height: 100vh;
  width: 100%;
  background-color: rgb(192, 192, 192);
  border-bottom: 1px solid rgb(131, 131, 131);
}

.section-header {
  height: 10%;
  padding-top: 1rem;
  color: rgb(0, 0, 0);
  padding-bottom: 0.5rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  border-bottom: 5px rgb(102, 102, 102) solid;
  margin-left: 4rem;
  margin-right: 4rem;
}

/*NAVIGATION*/
#navigationBar {
  height: 5rem;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 2rem 0 0 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  transform: translateY(0);
}

/* Hidden Navbar*/
.navbar-hidden {
  transform: translateY(-100%);
}

nav a {
  text-decoration: none;
  margin: 0 2rem 0 2rem;
  padding: 5px 10px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

nav a:hover {
  color: rgb(16, 16, 70);
}

/* Burger menu styles */
.burger-menu {
  width: 2rem;
  display: none;
  cursor: pointer;
}

.burger-menu i {
  font-size: 2rem;
}

/*HERO SECTION*/
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 50%;
  width: 550px;
  height: 550px;
  margin-left: 10%;
  border-radius: 26% 74% 31% 69% / 69% 73% 27% 31%;
  overflow: hidden; /* Ensure the image stays within the container */
}

#heroImage {
  width: 550px;
  height: 550px;
  object-fit: cover;
  transition: opacity 1s ease-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.intro {
  width: 50%;
  text-align: end;
  color: #545454;
  margin-right: 10%;
}

.intro h1 {
  font-family: Poppins;
  font-size: 7rem;
  margin-bottom: 0;
}

.intro h2 {
  color: rgb(16, 16, 70);
  font-size: 3rem;
  margin-top: 0;
  transition: opacity 1s ease-out;
}
.bottom-row {
  margin-top: 15rem;
}
.bottom-row a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2rem;
}

.button-row a i {
  font-size: 5rem;
}

.bottom-row a:hover {
  color: rgb(0, 60, 172);
}

/*ABOUT SECTION*/
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.about-profile {
  width: 50%;
}

.about-profile img {
  width: 550px;
  height: 550px;
  border-radius: 33% 67% 22% 78% / 73% 11% 89% 27%;
  object-fit: cover;
  margin-left: 20rem;
}

.about-description {
  width: 50%;
}

.about-description p {
  width: inherit;
  text-align: justify;
  font-size: 2rem;
  color: #545454;
}

/* SKILLS SECTION */
.skills-content {
  display: flex;
  flex-direction: column;
}

.skills-first,
.skills-second {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  perspective: 1000px;
}

/*IMAGES STYLES*/
.skills-content img {
  height: 270px;
  width: 550px;
  object-fit: cover;
  border-radius: 2rem;
}

.skills-content p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #545454;
}

/*FLIP EFFECT*/
.my-skill img {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.my-skill img:hover {
  transform: rotateX(180deg);
  cursor: pointer;
}

/*PROJECTS SECTION*/
.projects-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.project-title {
  font-weight: bold;
  text-align: center;
}
/* #webDevelopment,
#videoEditing {
  width: 100% ;
} */

/*PROJECTS HEADER*/
.projects-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

/*WEB DEVELOPMENT*/
.projects-list {
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
}

.my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-projects img {
  height: 500px;
  width: 30dvh;
  object-fit: cover;
  border-radius: 2rem;
}

.my-projects img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/*VIDEO EDITING*/
.sample-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.my-edits img {
  height: 30rem;
  width: 45rem;
  object-fit: cover;
  border-radius: 2rem;
}

/*BUTTON PROJECTS*/
#switchProjects {
  display: flex;
  align-items: center;
  justify-content: center;
}
#switchProjects button {
  background-color: rgb(134, 134, 134);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*ACTIVE AND HIDDEN*/
.active {
  display: block;
}

.hidden {
  display: none;
}

/*CONTACTS SECTION*/
.connect-content {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CONTACT INFO*/
.connect-left {
  padding-left: 10rem;
  width: 50%;
  height: 85%;
}
.connect-info h2 {
  font-size: 150px;
  text-align: justify;
  margin: 0;
}
.connect-info p {
  font-size: 1.5rem;
}

/*SOCIAL MEDIA LINKS*/
.connect-links {
  display: flex;
  gap: 5rem;
}
/*Email Link*/
.connect-info p a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}
.connect-left a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.connect-left a:hover {
  color: rgb(0, 60, 172);
}

/*SERVICES*/
.connect-right {
  width: 50%;
  height: 80%;
  margin-right: 5%;
  background-color: #adadad;
  border-radius: 2rem;
}

.connect-right h2 {
  text-align: center;
  font-size: 3rem;
}

.my-services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  background-color: rgb(146, 146, 146);
  border-radius: 2rem;
}

.service-title {
  list-style-type: none;
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
}

.service-lists {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  color: #545454;
}

/*FOOTER*/
footer,
footer p {
  margin-top: 0;
  background-color: rgb(192, 192, 192);
  text-align: center;
  border: none;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  /*MAIN STYLES*/
  section {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .section-header {
    height: 5%;
    font-size: 1rem;
  }

  /*NAVIGATION*/
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #9c9c9c;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    text-align: start;
    padding-left: 1rem;
  }
  /*HERO*/
  #hero {
    flex-direction: column;
  }

  .profile-image {
    display: none;
  }

  .intro {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .intro h1 {
    font-size: 4rem;
  }

  #myTitle {
    font-size: 1.5rem;
  }
  /*ABOUT*/
  .about-content {
    flex-direction: column;
  }

  .about-profile {
    width: 70%;
  }

  .about-profile img {
    height: 300px;
    width: 300px;
    margin-left: 0;
  }

  .about-description {
    width: 95%;
    margin: 0;
  }

  .about-description p {
    font-size: 1.5rem;
    text-align: center;
  }

  /*SKILLS*/
  .skills-content {
    overflow-y: scroll;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin-top: 30%;
  }

  .my-skill {
    margin-left: 4rem;
    margin-right: 3rem;
  }

  .my-skill img {
    height: 200px;
    width: 300px;
  }

  /*PROJECTS*/
  /*HEADER*/
  .projects-header {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  /*PROJECT LIST*/

  /*WEB DEVELOPMENT*/
  /* .projects-content {
    overflow-x: auto;
    width: 100%;
  } */

  /*WEB DEVELOPMENT*/
  .projects-list {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding-bottom: 1rem;
  }

  /*VIDEO EDITING*/
  .sample-projects {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding-bottom: 1rem;
  }

  /*VIDEO EDITING*/

  /*CONNECT*/
  #connect {
    height: 100%;
  }

  #connect .section-header {
    height: auto;
  }

  #connect .section-header h2 {
    margin-bottom: 0;
  }

  .connect-content {
    flex-direction: column-reverse;
  }

  .connect-right {
    display: none;
  }

  /*bottom*/
  .connect-left {
    width: 100%;
    padding-left: 0;
  }

  .connect-info {
    text-align: center;
  }

  .connect-info h2 {
    font-size: 6rem;
    text-align: center;
  }

  .connect-links {
    align-items: center;
    justify-content: center;
  }
}
