@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*GLOBAL STYLES*/
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

/*SECTIONS BACKGROUND*/
section {
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid rgb(73, 80, 84);
}
#hero {
  background: linear-gradient(
    0deg,
    rgba(73, 80, 84, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
}
#about,
#skills,
#projects {
  background-color: rgb(73, 80, 84);
}
#contacts {
  /* background: linear-gradient(
    190deg,
    rgb(73, 80, 84) 0%,
    rgb(136, 136, 136) 100%
  ); */
  background: linear-gradient(
    180deg,
    rgba(73, 80, 84, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
}

.section-header {
  height: 10%;
  padding-top: 1rem;
  color: rgb(255, 255, 255);
  padding-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 5px rgb(112, 122, 126) solid;
  margin-left: 4rem;
  margin-right: 4rem;
}

/*NAVIGATION*/
#navigationBar {
  height: 5rem;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  padding: 2rem 0 0 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  transform: translateY(0);
  /* From https://css.glass */
  background: rgba(73, 80, 84, 0.43);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10.8px);
  backdrop-filter: blur(10.8px);
}

/* Hidden Navbar*/
.navbar-hidden {
  transform: translateY(-100%);
}

nav a {
  text-decoration: none;
  margin: 0 2rem 0 2rem;
  padding: 5px 10px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

nav a:hover {
  color: rgb(0, 60, 172);
}

/* Burger menu styles */
.burger-menu {
  width: 2rem;
  display: none;
  cursor: pointer;
}

.burger-menu i {
  font-size: 2rem;
}

/*HERO SECTION*/
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 50%;
  width: 550px;
  height: 550px;
  margin-left: 10%;
  border-radius: 26% 74% 31% 69% / 69% 73% 27% 31%;
  overflow: hidden; /* Ensure the image stays within the container */
}

#heroImage {
  width: 550px;
  height: 550px;
  object-fit: cover;
  transition: opacity 1s ease-out;
}

#myTitle {
  color: rgb(59, 144, 255);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.intro {
  width: 50%;
  text-align: end;
  color: #545454;
  margin-right: 10%;
}

.intro h1 {
  font-family: Poppins;
  font-size: 7rem;
  margin-bottom: 0;
}

.intro h2 {
  color: rgb(16, 16, 70);
  font-size: 3rem;
  margin-top: 0;
  transition: opacity 1s ease-out;
}
.bottom-row {
  margin-top: 15rem;
}
.bottom-row a {
  color: rgb(138, 138, 138);
  text-decoration: none;
  font-size: 2rem;
}

.button-row a i {
  font-size: 5rem;
}

.bottom-row a:hover {
  color: rgb(0, 60, 172);
}

/*ABOUT SECTION*/
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.about-profile {
  width: 50%;
}

.about-profile img {
  width: 550px;
  height: 550px;
  border-radius: 33% 67% 22% 78% / 73% 11% 89% 27%;
  object-fit: cover;
  margin-left: 20rem;
}

.about-description {
  width: 50%;
}

.about-description p {
  width: inherit;
  text-align: justify;
  font-size: 2rem;
  color: #ffffff;
}

/* SKILLS SECTION */
.skills-content {
  display: flex;
  flex-direction: column;
}

.skills-first,
.skills-second {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  perspective: 1000px;
}

/*IMAGES STYLES*/
.skills-content img {
  height: 270px;
  width: 550px;
  object-fit: cover;
  border-radius: 2rem;
}

.skills-content p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  /* color: #545454; */
}

/*FLIP EFFECT*/
.my-skill img {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.my-skill img:hover {
  transform: rotateX(180deg);
  cursor: pointer;
}

/*PROJECTS SECTION*/
.projects-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.project-title {
  font-weight: bold;
  text-align: center;
}
/* #webDevelopment,
#videoEditing {
  width: 100% ;
} */

/*PROJECTS HEADER*/
.projects-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

/*WEB DEVELOPMENT*/
.projects-list {
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
}

.my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-projects img {
  height: 500px;
  width: 30dvh;
  object-fit: cover;
  border-radius: 2rem;
}

.projects-content img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/*VIDEO EDITING*/
.sample-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.my-edits img {
  height: 30rem;
  width: 45rem;
  object-fit: cover;
  border-radius: 2rem;
}

#shortForm,
#longForm {
  display: block;
}

#swapVideoEditing {
  display: none;
}

/*BUTTON PROJECTS*/
#switchProjects {
  display: flex;
  align-items: center;
  justify-content: center;
}
#switchProjects button {
  background-color: rgb(134, 134, 134);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*ACTIVE AND HIDDEN*/
.active {
  display: block;
}

.hidden {
  display: none;
}

/*CONTACTS SECTION*/
.contacts-content {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CONTACT INFO*/
.contacts-left {
  padding-left: 10rem;
  width: 50%;
  height: 85%;
}
.contact-info h2 {
  font-size: 150px;
  text-align: justify;
  margin: 0;
}
.contact-info p {
  font-size: 1.5rem;
}
.contact-info a {
  text-decoration: none;
}

/*SOCIAL MEDIA LINKS*/
.contact-links {
  display: flex;
  gap: 5rem;
}
.contact-links a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.contact-links a:hover {
  color: rgb(0, 60, 172);
}

/*CONTACT FORM*/
.contact-right {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-right form {
  height: 90%;
  width: 70%;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  /* background-color: #cfcccc; */
  /* From https://css.glass */
  background: rgba(73, 80, 84, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10.8px);
  backdrop-filter: blur(10.8px);
}

form label {
  font-size: 2rem;
  font-weight: bold;
  /* color: rgb(0, 0, 0); */
}

form input {
  height: 3rem;
  width: 97%;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background-color: #545454;
  border-radius: 2rem;
  border: none;
  margin-bottom: 1rem;
}

form input::placeholder {
  font-size: 1rem;
  color: #a8a8a8;
}
form input,
form textarea:focus {
  padding-left: 1rem;
}

form textarea {
  height: 40%;
  width: 94%;
  background-color: #545454;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  padding: 10px;
}

form textarea::placeholder {
  font-size: 1rem;
  color: #a8a8a8;
  padding-left: 1rem;
}

form input[type="submit"] {
  height: 2.4rem;
  width: 5rem;
  color: #a8a8a8;
  cursor: pointer;
  padding-left: none;
}

/*FOOTER*/
footer,
footer p {
  margin-top: 0;
  background-color: rgb(105, 105, 105);
  text-align: center;
  border: none;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  /*MAIN STYLES*/
  section {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .section-header {
    height: 5%;
    font-size: 1rem;
  }

  /*NAVIGATION*/
  #navigationBar {
    background: none !important;
    box-shadow: none !important;
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    /* background-color: #9c9c9c;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background: rgba(73, 80, 84, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10.8px);
    backdrop-filter: blur(10.8px);
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    text-align: start;
    padding-left: 1rem;
  }
  /*HERO*/
  #hero {
    flex-direction: column;
  }

  .profile-image {
    display: none;
  }

  .intro {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .intro h1 {
    font-size: 4rem;
  }

  #myTitle {
    font-size: 1.5rem;
  }
  /*ABOUT*/
  .about-content {
    flex-direction: column;
  }

  .about-profile {
    width: 70%;
  }

  .about-profile img {
    height: 300px;
    width: 300px;
    margin-left: 0;
  }

  .about-description {
    width: 95%;
    margin: 0;
  }

  .about-description p {
    font-size: 1.5rem;
    text-align: center;
  }

  /*SKILLS*/
  .skills-content {
    overflow-y: scroll;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    margin-top: 30%;
  }

  .my-skill {
    margin-left: 4rem;
    margin-right: 3rem;
  }

  .my-skill img {
    height: 200px;
    width: 300px;
  }

  /*PROJECTS*/
  /*HEADER*/
  .projects-header {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  /*WEB DEVELOPMENT*/
  .projects-list {
    display: flex; /* Arrange items in a horizontal row */
    gap: 15rem; /* Add space between items */
    max-width: 250px; /* Ensure container uses full width */
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    white-space: nowrap; /* Prevent wrapping of elements */
    padding-bottom: 10px; /* Add padding for scrollbar visibility */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    padding-left: 3rem;
  }

  .my-projects {
    flex: 0 0 auto; /* Prevent items from shrinking or stretching */
    width: 200px; /* Set a fixed width for each item */
    text-align: center; /* Center-align content */
  }

  /*VIDEO EDITING*/
  .my-edits img {
    width: 300px;
    height: 450px;
  }

  /*Swap Video Edit Projects*/
  #swapVideoEditing {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: rgb(170, 170, 170);
    margin-right: 1rem;
    padding: 5px;
    border-radius: 50%;
    border: none;
  }

  #shortForm {
    display: block;
  }

  #longForm {
    display: none;
  }

  /*BUTTON SWAP PROJECT*/
  #switchProjects {
    margin-top: 1rem;
  }

  /*CONNECT*/
  #contacts {
    height: 100%;
  }

  #contacts .section-header {
    height: auto;
  }

  .contacts-content {
    margin: 0 auto;
    width: 100%;
  }

  /*FORMS CONTACT MOBILE VERSION*/
  .contacts-left {
    display: none;
  }

  .contact-right form {
    width: 300%;
    padding: 0;
  }

  /* .contact-right {
    display: none;
  } */

  /*bottom*/

  /* .contact-left {
    width: 100%;
    padding-left: 0;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info h2 {
    font-size: 6rem;
    text-align: center;
  }

  .contact-links {
    align-items: center;
    justify-content: center;
  } */
}
